h1 {
  color: #581845;
  text-align: center;
}
h2 {
  color:#ECA1DB;
  font-style: italic;
  text-align: center;
}
p {
  font-family: fantasy;
  text-align: center;
}
ol {
  line-height: 60px;
  font-style: oblique;
  text-align: center;
}
